@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Righteous&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #ffffff;
}
html{
    scroll-behavior: smooth;
}
.container-header{
    background: #3b141c;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.container-header header .logo a{
   font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    margin: 0 15px;
    padding: 8px;
    transition: .5s;
    text-decoration: none;
    border-radius: 10px;
}
.container-header header nav ul li a:hover{
    background: #f3961c;
    color: #3b141c;
}

.titulo {
    font-family: 'Righteous', cursive;
    color: #3b141c;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}

.container .container-req input{
    text-align: left;
    width: 500px;
    height: 35px;
    margin-top: 10px;
    border-radius: 8px;
}

.container .container-req textarea{
    outline: none;
    border: 2px solid #000000;
    margin-top: 15px;
    padding: 12px;
    width: 500px;
    border-radius: 8px;
    resize: none;
}

.container{
    grid-template-columns: repeat(2,1fr);
    display: grid; 
    margin: 10% 15% ;  
    
}

.container .boton input{
    border-radius: 100px;
    background-color: #f3961c;
    color: #fff;
    width: 150px;
    height: 50px;
    text-align: center;
    transition: 0.3s;
}
.container .boton input:hover{
    transform: scale(1.1);
}

@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        margin: 20% 10%;
        text-align: center;
        margin-left: 0%;

    

    }
    .container-req .input .cuadro{
    border-radius:10px ;
    height: 30px;
    width: 400px;

}
.container-req .input-mensaje .mensaje{
    border-radius:10px ;
    height: 100px;
    width: 400px;

}
    .container .boton input{
        margin-top: 20px;
    }

}
#menu-toggle {
        display: none;
    }


/*Responsive menu navar*/
@media(max-width:768px) {
    #menu-toggle {
        display: none;
    }


.menu-icon {
    display: block;
    font-size: 28px;
    cursor: pointer;
    color: #ffffff;/*color de tu logo*/
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 300;
}


/*Menu oculto*/
.container-header header .nav ul {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    padding: 10px 0;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 250;
}

/*Mostrar menu al activar */
#menu-toggle:checked ~ .nav ul {
    display: flex;
}
}
