@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Righteous&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #252525;
}
html{
    scroll-behavior: smooth;
}
.container-header{
    background: #3b141c;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.container-header header .logo a{
   font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    margin: 0 15px;
    padding: 8px;
    transition: .5s;
    text-decoration: none;
    border-radius: 10px;
}
.container-header header nav ul li a:hover{
    background: #f3961c;
    color: #3b141c;
}

.titulo {
    font-family: 'Righteous', cursive;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}
.menu .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 50px;
    justify-content: center; 
    padding: 20px;
}
.container .move {
    width: 400px;
    height: 480px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    background-color: #3b141c; 
    border-radius: 30px;
}

.container .move img {
    width: 250px;
    height: auto;
    border-radius: 8px;
}

.menu .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 50px;
    justify-content: center; 
    padding: 20px;
}
.contenedor .move {
    width: 400px;
    height: 480px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    background-color: #3b141c; 
    border-radius: 30px;
}

.contenedor .move img {
    width: 250px;
    height: auto;
    border-radius: 8px;
}

.texto{
    font-size: 30px;
    font-family: 'Miniver' sans-serif;
    text-align: center;
    color: #fff;
}

.parrafo{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}

.boton{
    border-radius: 10px;
    background-color: #f3961c;
    width: 150px;
    height: 50px;
    text-align: center;
}

.boton:hover{
    color: #fff;
}

.container-header header nav ul li i{
    color: #fff;
}

#menu-toggle {
    display: none !important;
}
@media (max-width: 768px) {
    .container-header header {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .container-header header nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
        background-color: rgb(0,0,0,0.5);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        border-radius: 6px;
        z-index: 250;
        }


    .container-header header nav ul li {
        width: 100%;
        text-align: left;
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        color: #ffffff;
        font-size: 28px;
        position: absolute;
        right: 30px;
        top:10px;
        z-index: 300;
    }

    #menu-toggle:checked + .menu-icon + nav ul {
        display: flex;
    }
}

